<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ps.crawler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.pokernews.activities.MainActivity"
            android:label="@string/app_name" 
            android:icon="@drawable/logo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="de.pokernews.activities.WebViewActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="de.pokernews.activities.PSActivity"
            android:label="@string/ps" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ps">
        </activity>
        
        <activity
            android:name="de.pokernews.activities.POActivity"
            android:label="@string/po" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/po">
        </activity>
        
        <activity
            android:name="de.pokernews.activities.CPActivity"
            android:label="@string/cp" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/cp">
        </activity>
        
        <activity
            android:name="de.pokernews.activities.HGPActivity"
            android:label="@string/hgp" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/hgp">
        </activity>
        
         <activity
            android:name="de.pokernews.activities.PNActivity"
            android:label="@string/pn" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/pn">
        </activity>
        
         <activity
            android:name="de.pokernews.activities.HDBActivity"
            android:label="@string/hdb" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/hdb">
        </activity>
        
         <activity
            android:name="de.pokernews.activities.ArticleListActivity"
            android:label="@string/ps" 
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ps">
        </activity>
   
        
    </application>

</manifest>
